@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');


body{
    margin: 0px; /*margem externa*/
    padding: 0px; /*margem interna*/
}

#principal{
    width: 100%; /*largura*/
    height: 100px; /*altura*/
    
    background-color: #303030;

    display: flex;
    justify-content: space-between;  /*Alinhamento horizontal*/
    align-items: center;
}

#principal button{
    margin-right: 5%;
    background-color: #0C70F2;
    border: 0px;

    height: 40px;
    width: 80px;

    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    color: white;

    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

#menu{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center; /*Alinhamento na vertical*/

    margin-left: 5%;
}

#principal div a{
    font-family: inter;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

#principal div a:hover{
    color: #CCCCCC;
    
}